<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style type="text/css">
  html{height:100%}
  body{height:100%;margin:0px;padding:0px}
  #map{height:500px; width: 500px;}
  </style>
</head>
<body>
  <div style="width:730px;margin:auto;">
    要查询的地址：<input id="text_" type="text" value="厦门鸿星尔克大厦" style="margin-right:100px;"/>
    查询结果(经纬度)：<input id="result_" type="text" />
    <input type="button" value="查询" onclick="searchByStationName();"/>
    <div id="map"></div>
  </div>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v2.0&ak=Z328GcAUvMwoMfPubfpKCjn8b6xjHx9H"></script>
  <script type="text/javascript">
    var map = new BMap.Map("map");          // 创建地图实例
    var point = new BMap.Point(118.203172,24.491576);  // 创建点坐标
    map.centerAndZoom(point, 18);
    map.addControl(new BMap.NavigationControl());  //向地图添加一个平移缩放控件
    map.addControl(new BMap.ScaleControl());   //一个比例尺控件
    map.addControl(new BMap.OverviewMapControl());  //缩略图
    map.setCurrentCity("厦门"); // 仅当设置城市信息时，MapTypeControl的切换功能才能可用
    map.enableScrollWheelZoom(true);
    var localSearch = new BMap.LocalSearch(map);
    map.addControl(new BMap.OverviewMapControl({ isOpen: true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));
    new BMapLib.SearchInfoWindow(map, "信息框3内容", {
  		title: "信息框3", //标题
  		width: 290, //宽度
  		height: 40, //高度
  		panel : "panel", //检索结果面板
  		enableAutoPan : true, //自动平移
  		searchTypes :[
  		]
  	});
    localSearch.enableAutoViewport(); //允许自动调节窗体大小
    function searchByStationName() {
      map.clearOverlays();//清空原来的标注
      var keyword = document.getElementById("text_").value;
      localSearch.setSearchCompleteCallback(function (searchResult) {
          var poi = searchResult.getPoi(0);
          document.getElementById("result_").value = poi.point.lng + "," + poi.point.lat;
          map.centerAndZoom(poi.point, 13);
          var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
          map.addOverlay(marker);
          var content = document.getElementById("text_").value + "<br/><br/>经度：" + poi.point.lng + "<br/>纬度：" + poi.point.lat;
          var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'>" + content + "</p>");
          marker.addEventListener("click", function () { this.openInfoWindow(infoWindow); });
          // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
      });
      localSearch.search(keyword);
    }
  </script>
</body>
</html>
